nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  padding: 2rem 0;
}

.nav-bg {
  background-color: hsl(38, 61%, 94%);
  background-size: cover;
}

.nav_link_items {
}

.nav_item:link {
  font-size: 2rem;
}

.nav_item:link:hover {
  text-decoration: underline;
  text-underline-offset: 0.1rem; /* Underline the text on hover */
  /* Add some padding at the bottom */
}

.nav_list {
  color: rgb(0, 75, 26);
  text-decoration: none;
  margin-right: 2.5rem;
}

.logo {
  font-size: 3rem;
}

.box_text {
  background-color: rgb(196, 255, 136);
  padding: 0.5rem 1rem;
  border: 0.2rem solid rgb(4, 49, 20);
  border-radius: 0.5rem;
}

.menu_button {
  background-color: rgb(0, 75, 26);
  font-size: 1.7rem;
  color: rgb(196, 255, 136);
  border-color: rgb(196, 255, 136);
  padding: 0.9rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.4s;
}

.menu_button:hover {
  background-color: rgb(196, 255, 136);
  color: rgb(0, 75, 26);
  border-color: rgb(0, 75, 26);
}

.cart-icon {
  font-size: 3rem;
}

.cart_count {
  position: relative;
  display: inline-block;
  font-weight: bolder;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgb(196, 255, 136);
  text-align: center;
  line-height: 2.4rem;
  color: rgb(0, 75, 26);
  font-size: 1.5rem;
  border: 1px solid rgb(4, 49, 20);
}

.cart_count_num {
  position: absolute;
  top: 52%;
  left: 52%;
  transform: translate(-50%, -50%);
}

.nav-col-3 {
  display: flex;
}

.cart {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

h2 {
  font-size: 2rem;
}

.horizontal-line {
  border-bottom: 0.2rem solid rgb(0, 75, 26); /* Change color and width as needed */
}

.signup-btn {
  color: rgb(0, 75, 26);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
}

.signup-btn:hover {
  color: rgb(99, 155, 43);
}
